@media only screen and (max-width: 48rem) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  body {
    font-size: 16px;
  }

  .container {
    margin-left: 5%;
    margin-top: 5%;
    font-family: "DMSans-Regular";
  }
  
}

@media only screen and (min-width: 48rem) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  body {
    font-size: 16px;
  }

  .container {
    margin-left: 119px;
    margin-top: 66px;
    font-family: "DMSans-Regular";
  }

}

/* Colors */

.black {
  color: #00031a;
}

.white {
  color: white;
}

.dark_grey {
  color: #636363;
}

.grey {
  color: #c4c4c4;
}

.light_grey {
  color: #e0e0e0;
}

.background {
  color: #f4f7fa;
}

.full_black {
  color: black;
}

.focus {
  color: #1d76ef;
}

.tags {
  color: #559f21;
}

.hover {
  color: #446cbc;
}

.active_outline {
  color: #9ebbf3;
}

.error {
  color: #d42f1a;
}

.links {
  color: #076ce0;
}

.active {
  color: #254a96;
}
