.Cover {
  text-align: center;
}

.Cover-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cover-logo1 {
  padding-bottom: 4em;
}

.Cover-logo2 {
  padding: 1em;
  background-image: url('../assets/bg_collaborator.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #282c34;
  font-weight: bold;
}


.Cover-title {
  font-size: 2em;
  padding: 1em;
}

.Cover-square {
  background-color: #fa2d83;
  border-radius: 10px;
  padding: 0.5em;
  color: white;
  font-size: 2em;
}

.Cover-collaborators {
  font-size: 1em;
  padding-top: 5em;
  padding-bottom: 1em;
}

.Cover-login {
  margin-top: 3em;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.Cover-login:hover {
  color: white;
  background-color: #fa2d83;
}

.Cover-login:active {
  color: rgb(124, 124, 130);
}