.form-container {
  max-width: 22.5rem;
}

.form {
  background-color: white;
  box-shadow: #000003 0 0 0.25rem 0;
  padding: 3rem 3rem 1.875rem 2.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}

.brand-container {
  margin: 0 0 2.5rem;
  display: flex;
  justify-content: center;
}

.email,
.password {
  line-height: 1.3rem;
}

.input-email1,
.input-password1 {
  margin: 0.3rem 0 0.8rem;
  font-size: 1rem;
}

.input-email2 {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 18rem;
  height: 2.75rem;
  background: #ffffff;
  border: 0.06rem solid #00031a;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-password2 {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 18rem;
  height: 2.75rem;
  border: 0.06rem solid #00031a;
  border-radius: 0.5rem;
  background: url("../assets/images/visibility_off.png") no-repeat 16rem 0.875rem;
  background-size: 1rem 0.875rem;
  font-size: 1rem;
  font-style: normal;
}

.login-button1 {
  display: flex;
  flex-direction: column;
}

.login-button2 {
  background-color: #1f1f1f;
  border: 0 none #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 0.8rem;
  width: 18rem;
  font-family: DMSans-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  border-radius: 0.5rem;
}

.forgot-password {
  margin-top: 2.25rem;
  color: #076ce0;
  font-size: 1rem;
  text-decoration: none solid #076ce0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}

.container-signup {
  padding: 0.3125rem 3rem 1.75rem;
  background-color: #ffffff;
  box-shadow: #00000033 0 0 0.25rem 0;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}

.container-signup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-account {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.button-sign-up {
  background-color: #ffffff;
  border: 0.0625rem solid #00031a;
  color: #1f1f1f;
  cursor: pointer;
  width: 17.8125rem;
  height: 2.75rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
}

@media only screen and (width <= 48rem) {
  .input-email2 {
    box-sizing: border-box;
    padding-left: 0.625rem;
    width: 100%;
    height: 2.75rem;
    background: #ffffff;
    border: 0.06rem solid #00031a;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  .input-password2 {
    box-sizing: border-box;
    padding-left: 0.625rem;
    width: 100%;
    height: 2.75rem;
    border: 0.06rem solid #00031a;
    border-radius: 0.5rem;
    background: url("../assets/images/visibility_off.png") no-repeat 95% 0.875rem;
    background-size: 1rem 0.875rem;
    font-size: 1rem;
    font-style: normal;
  }

  .login-button2 {
    background-color: #1f1f1f;
    border: 0 none #ffffff;
    color: #ffffff;
    cursor: pointer;
    padding: 0.8rem;
    width: 100%;
    font-family: DMSans-Bold, sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    border-radius: 0.5rem;
  }

  .button-sign-up {
    background-color: #ffffff;
    border: 0.0625rem solid #00031a;
    color: #1f1f1f;
    cursor: pointer;
    width: 100%;
    height: 2.75rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
}
