.form-container {
  max-width: 22.5rem;
}

.form {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 0.25rem 0rem;
  padding: 3rem 3rem 1.875rem 2.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}

.brand-container {
  margin: 0rem 0rem 2.5rem;
  display: flex;
  justify-content: center;
}

.email,
.password {
  line-height: 1.3rem;
}

.input-email1,
.input-password1 {
  margin: 0.3rem 0rem 0.8rem;
  font-size: 1rem;
}

.input-email2 {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 18rem;
  height: 2.75rem;
  background: #ffffff;
  border: 0.06rem solid #00031a;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-password2 {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 18rem;
  height: 2.75rem;
  background: #ffffff;
  border: 0.06rem solid #00031a;
  border-radius: 0.5rem;
  background: url("../assets/images/visibility_off.png") no-repeat 16rem
    0.875rem;
  background-size: 1rem 0.875rem;
  font-size: 1rem;
  font-style: normal;
}

.login-button1 {
  display: flex;
  flex-direction: column;
}

.login-button2 {
  background-color: rgb(31, 31, 31);
  border: 0rem none rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0.8rem;
  width: 288px;
  font-family: DMSans-Bold;
  font-size: 1rem;
  line-height: 1.3rem;
  border-radius: 0.5rem;
}

.forgot-password {
  margin-top: 2.25rem;
  margin-bottom: 0rem;
  color: rgb(7, 108, 224);
  font-size: 1rem;
  text-decoration: none solid rgb(7, 108, 224);
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}

.container-signup {
  padding: .3125rem 3rem 1.75rem 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 0.25rem 0rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}

.container-signup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-account {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.button-sign-up {
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid rgb(0, 3, 26);
  color: rgb(31, 31, 31);
  cursor: pointer;
  width: 17.8125rem;
  height: 2.75rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
}
