@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.custom-input {
  @apply mx-[34px] h-[34px] w-auto rounded-md border border-slate-950 ps-3 placeholder:text-base placeholder:text-neutral-500;
}

/* .custom-focus-active {
  @apply hover:border-indigo-700 focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-blue-700 active:outline-double active:outline-4 active:outline-offset-0 active:outline-blue-900;
} */

.custom-hover {
  @apply hover:border-indigo-700
}

.custom-focus {
  @apply focus-within:rounded focus-within:outline-dashed focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-blue-700;
}

.custom-active {
  @apply active:outline-double active:outline-4 active:outline-offset-0 active:outline-blue-900;
}

.btn-hover {
  @apply hover:bg-[#446CBC]
}