@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.custom-input {
  @apply mx-[34px] h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray;
}

.custom-hover {
  @apply hover:border-hover;
}

.custom-focus {
  @apply focus-within:rounded focus-within:outline-dashed focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-focus;
}

.custom-active {
  @apply active:outline-double active:outline-2 active:outline-offset-0 active:outline-active-outline;
}

.btn-hover {
  @apply hover:bg-hover;
}
